.banner {
  position: relative;
  background: linear-gradient(
    to top,
    var(--color-primary-dark),
    var(--color-primary)
  );
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 0 var(--space-x);
  height: 100%;
  text-align: center;
}

.title {
  transform: perspective(1000px) rotateX(90deg);
  backface-visibility: visible;
  color: var(--color-light);
  font-size: var(--size-title-big);
}

.animateTitle {
  animation: flipInX 1s ease-in-out forwards;
}

@keyframes flipInX {
  0% {
    transform: perspective(1000px) rotateX(90deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}

.image {
  position: absolute;
  z-index: 0;
  animation: animateFlicker 1s infinite alternate;
  transition:
    1s linear,
    animateFlicker 2s ease;
  margin: auto;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes animateFlicker {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.3;
  }
}

@media (min-width: 1024px) {
  .image {
    height: 80%;
    object-fit: contain;
  }
}
