.section {
  display: grid;
  gap: var(--space-lg);
  background-color: var(--color-light-variant);
  padding: var(--space-y) var(--space-x);
}

.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.image {
  animation-name: animateImage;
  width: 100%;
  animation-timeline: view();
  animation-range: entry 40% cover 60%;
  animation-fill-mode: both;
}

@keyframes animateImage {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .imagesContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @keyframes animateImage {
    from {
      scale: 0.8;
      opacity: 0;
      margin-top: 50px;
    }
    to {
      top: 0;
      scale: 1;
      opacity: 1;
    }
  }
}
