.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-y) var(--space-x);
  height: 100vh;
}

.logo {
  animation: animateLogo 1s infinite alternate;
  width: 50%;
  height: 50%;
}

@keyframes animateLogo {
  from {
    scale: 0.9;
    opacity: 0.6;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
